.navbar {
  border-bottom: solid 1px #64abdf;
}
.top-tab-nav {
  border-top: solid 1px #64abdf;
}
.nav-link,
.top-nav-link {
  color: #fff;
  text-decoration: none;
}
.top-nav-link:hover {
  color: #22784b;
}
.top-nav-link.active {
  color: #22784b;
}
.top-tab-label {
  font-size: 12px;
}
