.section {
  background: rgba(100, 171, 223, 0.5);
  position: absolute;
  margin: 2rem 2rem;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.meImage {
  flex-basis: 40%;
}

.text {
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
  text-align: left;
}