 main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --blue: #64abdf;
  --green: #22784b;
  --white: #fff;
 }
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }

html,
body {
  background-image: url('./assets/images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--green);
  font-family: Arial, 'Calibri', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, 'Calibri', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

.section {
  background: rgba(100, 171, 223, 0.5);
  position: absolute;
  margin: 2rem 2rem;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sect-Contact {
  background: rgba(100, 171, 223, 0.5);
  text-align: center;
  position: absolute;
  margin: 2rem 2rem;
  left: 0;
  right: 0;
  border-radius: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.meImage {
  flex-basis: 40%;
}

.text {
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
  text-align: left;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--green);
  color: var(--white);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

.portImg {
  margin: 20px;
  border: 10px solid var(--green);
}